html, body {
    
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden; /* pour qu'il n'y ait pas de scroll */
}

body {

    background-image: url("./picture/madinina_pixelated_finer.jpg");
    background-size: cover; /* couvre tuot l'écran*/
    background-position: center;
    background-repeat: no-repeat; /*ok*/
    display: flex;
    justify-content: center;
    align-items: center;
   min-width: 980px;
    /* max-height: 90vh; */
    /*min-height: 90vh;  /*viewport height = 100% de la hauteur de la fenêtre visible _ vh = % de la hauteur de l'écran   */
 
}


