html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden; /* pour qu'il n'y ait pas de scroll */
}

body {
    background-image: url("./picture/madinina_pixelated_finer.jpg");
    background-size: cover; /* couvre tuot l'écran*/
    background-position: center;
    background-repeat: no-repeat; /*ok*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}