.home {
    position: absolute;
    top: 20px;
    right: 20px;
    border-style: solid;
    padding: 3px 60px 2px 60px;
    font-family: "Press Start 2P", system-ui;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    font-style: normal;
    color:black ;
}

/* score */

.score {
    position: absolute;
    top: 20px;
    left: 20px;
    border-style: solid;
    border-color: black;
    padding: 2px 30px 2px 30px;
    background-color: rgb(219, 227, 235);

    font-family: "Press Start 2P", system-ui;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    font-style: normal;
    color:black ;

}

.paragraphscore {
    top: 20px;
    left: 20px;
    padding: 0px 30px 0px 30px;

}

.scorenbr {
    top: 20px;
    left: 20px;
    padding: 0px 30px 0px 30px;
    font-family: "Press Start 2P", system-ui;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    font-style: normal;
    color:black ;
}

/* grid */

.grid {
    width: 90%;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.ilet {
    background-image: url("./picture/ilesable_pix_GPT.png"); 
    background-size: cover; 
    background-position: center;
    border-style: solid;
    width: 30vw;
    max-width: 200px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items:center;
}

.buttonilet1, .buttonilet2, .buttonilet3 {
    background-color:red;
    width: 150px;
    height: 90%;
    justify-content: center;
}

.imgilet1 {   
    background-image: url(./picture/ilesable_pix_GPT.png)
}

.imgilet2 {   
    background-image: url(./picture/coco_pix.png);
}

.imgilet3 {   
    background-image: url(./picture/ilecoco_pix_GPT.png);
}

.imgilet4 {   
    background-image: url(./picture/ilecoco_pix_GPT.png);
}

.imgilet5 {   
    background-image: url(./picture/ilecoco_pix_GPT.png);
}

.imgilet6 {   
    background-image: url(./picture/ilecoco_pix_GPT.png);
}
